[submodule "packages/mesh-router"]
	path = packages/mesh-router
	url = https://github.com/worph/meta-router.git
	branch = main

[submodule "packages/settings-center-app"]
	path = packages/settings-center-app
	url = https://github.com/Yundera/settings-center-app
	branch = main

[submodule "packages/proxmox-middleware"]
	path = packages/proxmox-middleware
	url = https://github.com/Yundera/yundera-proxmox-middleware.git
	branch = main

[submodule "packages/pcs-orchestrator"]
	path = packages/pcs-orchestrator
	url = https://github.com/Yundera/pcs-orchestrator.git
	branch = main

[submodule "packages/casa-img"]
	path = packages/casa-img
	url = https://github.com/Yundera/casa-img
	branch = main
[submodule "packages/mesh-router-dashboard"]
	path = packages/mesh-router-dashboard
	url = https://github.com/ApteroSAS/mesh-dashboard-root.git
	branch = main
[submodule "doc"]
	path = doc
	url = https://github.com/Yundera/yundera-root-documentation.git
[submodule "packages/pcs-dashboard"]
	path = packages/pcs-dashboard
	url = https://github.com/Yundera/pcs-dashboard
	branch = main
[submodule "packages/demo"]
	path = packages/demo
	url = https://github.com/Yundera/demo.git
[submodule "packages/yundera-smtp-handler"]
	path = packages/yundera-smtp-handler
	url = https://github.com/Yundera/yundera-smtp-handler.git
